
    <footer class="py-5 bg-white">
        <hr>
        <div class="container">
            <p class="text-center text-black m-0 small">Copyright&nbsp;© CMPT 470 Quik Ride</p>
        </div>
    </footer>
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/vendor/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
</body>
</html>