<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <p>User:<%= user._id%></p>
    <% for ( let i = 0 ; i < users.length ; i++) {%>
        <a href='chat/<%=users[i]._id%>/<%=user._id%>'><p><%=users[i]._id%></p></a>
    <%}%>
</body>
</html>