<%- include ('partials/header') %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create a Post!</h1>
                    <% if(isDriver) { %>
                        <a type="button" href="/post/create/rideshare">Share a Ride!</a>
                    <% } %>
                  </div>
                  <form class="user" action="/post/create" method='POST'>
                    <div class="form-group row">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="PickUpLocation" placeholder="Pick Up Location" name="pickUpLocation" required>
                      </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="DropOffLocation" placeholder="Drop Off Location" name="dropOffLocation" required>
                    </div>
                    <div class="form-group">
                        <textarea type="textarea" class="form-control" id="Description" placeholder="Message" name="description" rows="3" required></textarea>
                        </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Post!</button>
                </div>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
        </div>
    
      </div>
      <script>
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
  
        function initMap() {
          //To turn google place api on, replace the API key at the bottom and uncomment these 2 lines
          //var pickup = document.getElementById('PickUpLocation');
          //var dropoff = document.getElementById('DropOffLocation');
  
          var autocomplete = new google.maps.places.Autocomplete(pickup);
          var autocomplete2 = new google.maps.places.Autocomplete(dropoff);
  
          // Bind the map's bounds (viewport) property to the autocomplete object,
          // so that the autocomplete requests use the current map bounds for the
          // bounds option in the request.
  
          // Set the data fields to return when the user selects a place.
          autocomplete.setFields(
              ['address_components', 'geometry', 'icon', 'name']);
  
          autocomplete.addListener('place_changed', function() {

            var place = autocomplete.getPlace();
            if (!place.geometry) {
              window.alert("No details available for input: '" + place.name + "'");
              return;
            }
            
          });
          autocomplete2.setFields(
              ['address_components', 'geometry', 'icon', 'name']);
  
          autocomplete2.addListener('place_changed', function() {

            var place = autocomplete2.getPlace();
            if (!place.geometry) {
              window.alert("No details available for input: '" + place.name + "'");
              return;
            }
            
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places&callback=initMap" async defer></script>
<%- include ('partials/footer') %>