<%- include ('partials/header') %>
   
    <div class="row">
        <div class="col-lg-4">
qwwdq
        </div>
        <div class="col-lg-8">
            qwwdq
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="/js/io.js"></script>
<%- include ('partials/footer') %>