<%- include ('partials/header') %>
    <h1>Login</h1>
    <% if(messages.error) { %>
        <%= messages.error %>
    <% } %>
    <form action="/login" method='POST'>
        <label for="username">username</label>
        <input type="text" id="username" name=
        "username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name=
        "password" required>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>
    <a href="/forgot">Forgot Password?</a>
    <br><br>
    <a href='/admin'>Admin Panel</a>
<%- include ('partials/footer') %>