<%- include ('partials/header') %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <div class="container">
        <div class="row justify-content-center">
    
          <div class="col-xl-10 col-lg-12 col-md-9">
    
            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-6">
                    <div class="p-5">
                      <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                      </div>
                      <form class="user" action="/login" method='POST'>
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user" id="username" aria-describedby="emailHelp" placeholder="Enter Username" name="username" required>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control form-control-user" id="password" placeholder="Password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                        <hr>
                        <a href="/auth/google" class="btn btn-google btn-user btn-block">
                          <i class="fab fa-google fa-fw"></i> Login with Google
                        </a>
                        <!-- <a href="/auth/facebook/callback" class="btn btn-facebook btn-user btn-block">
                          <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                        </a> -->
                      </form>
                      <hr>
                      <div class="text-center">
                        <a class="small" href="/forgot">Forgot Password?</a>
                      </div>
                      <div class="text-center">
                        <a class="small" href="/register">Create an Account!</a>
                      </div>
                      <div class="text-center">
                        <a class="small" href="/admin">Admin Panel</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3"></div>
                </div>
              </div>
            </div>
    
          </div>
    
        </div>
    
    </div>
<%- include ('partials/footer') %>