<%- include ('partials/header') %>
    <link rel="stylesheet" href="/css/post.css">
    <br>
    <div class="container">
        <div class="col">
            <!-- image here -->
            <div class="row heading">
                <em>Request to book a ride with name:</em>
            </div>
            <div class="row">
                <h3 class="heading1">Trip Details:</h3>
            </div>
            <div class="row">
                <div class="details">
                    <span class="strong">Pickup:</span>
                    <br>
                    <span class="strong">Dropoff:</span>
                    <br>
                    <span class="strong">Date:</span>
                    <br>
                    <span class="strong">Description:</span>
                    <br>
                    <span class="strong">Preferences:</span>
                    <br>
                    <span class="strong">Number of seats available:</span>
                    <br>
                    <span class="strong">Estimated Cost per seat:</span>
                    <br>
                </div>
            </div>
            <br><br>
            <div class="row">
                <h3>Driver Details:</h3>
            </div>
            <div class="row"> 
                <div class="col-2">
                    <img class="rounded-circle img" src="https://image.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg" alt="">
                </div>
                <div class="col-6">
                    <div class="details">
                        <span class="strong">Name:</span>
                        <br>
                        <span class="strong">Number of Rides Completed:</span>
                        <br>
                        <span class="strong">Rating:</span> 
                    </div>
                </div>
            </div>
            <br>
            <h3 class="row">
                Message for name: 
            </h3>
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary">Send Request</button>
        </div>
        <div></div>
    </div>