<%- include ('partials/header') %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <div class="container">
        <% if(typeof message != 'undefined') { %>
            <%= message %>
        <% } %>
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                  </div>
                  <form class="user" action="/register" method='POST'>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="firstName" placeholder="First Name" name="firstName" required>
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" id="lastName" placeholder="Last Name" name="lastName" required>
                      </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="username" placeholder="User Name" name="username" required>
                      </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="email" placeholder="Email Address" name="email" required>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="password" class="form-control form-control-user" id="password" placeholder="Password" name="password" required>
                      </div>
                      <div class="col-sm-6">
                        <input type="password" class="form-control form-control-user" id="password2" placeholder="Repeat Password" name="password2" required>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Register</button>
                    <hr>
                    <a href="index.html" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Register with Google
                    </a>
                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/forgot">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/login">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
        </div>
    
      </div>
    <h1>Register</h1>
    
    <form action="/register" method='POST'>

        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name=
        "firstName" required>
        
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name=
        "lastName" required>

        <label for="username">User Name</label>
        <input type="text" id="username" name=
        "username" required>

        <label for="email">Email</label>
        <input type="email" id="email" name=
        "email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name=
        "password" required>

        <label for="password2">Retype Password</label>
        <input type="password" id="password2" name=
        "password2" required>

        <button type="submit">Register</button>
    </form>
    <a href="/login">Login</a>
<%- include ('partials/footer') %>