<%- include ('partials/header') %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="text-center">
                    <% if(userfound) {%> 
                      <h1 class="h4 text-gray-900 mb-4">Your Application is still in progress.......</h1>
                      <h2 class="h4 text-gray-900 mb-4">We are still waiting for your documents from ICBC. Once we receive your documents, we will let you know.</h2>
                    <% } %>
                    <% if(!userfound){ %>
                    <h1 class="h4 text-gray-900 mb-4">Driver Registeration</h1>
                  </div>
                  <form class="user" action="/driver/registration" method='POST'>
                    <div class="form-group row">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="fullNameOnLicense" placeholder="Full Name on License" name="fullNameOnLicense" required>
                      </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="licenseClass" placeholder="License Class" name="licenseClass" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="licenseNumber" placeholder="License #" name="licenseNumber" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="carName" placeholder="Car Name" name="carName" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="carModel" placeholder="Car Model" name="carModel" required>
                    </div>
                    <div class="form-group">
                      After submitting this form please send your 2 years driving records from ICBC to quikride123@gmail.com. We will review it and will process your application
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-user btn-block">Register!</button>
                    <% } %>
                </div>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
        </div>
    
      </div>
<%- include ('partials/footer') %>