<%- include ('partials/header') %>
    <h1>Reset Password</h1>
    <% if(typeof message != 'undefined') { %>
        <%= message %>
    <% } %>
    <form action="/reset/<%= token %>" method='POST'>

        <label for="newPassword">Password</label>
        <input type="password" id="newPassword" name=
        "newPassword" required>

        <label for="newPassword2">Retype Password</label>
        <input type="password" id="newPassword2" name=
        "newPassword2" required>

        <button type="submit">Submit</button>
    </form>
<%- include ('partials/footer') %>