<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
</head>
<body>
    <h1>Verify Email</h1>
    <% if(messages.error) { %>
        <%= messages.error %>
    <% } %>
    <form action="/verify" method='POST'>
        <label for="emailToken">Email Token</label>
        <input type="text" id="emailToken" name=
        "emailToken" required>
        <button type="submit">Verify</button>
    </form>
</body>
</html>