<%- include ('partials/header') %>
    <h1>Verify Email</h1>
    <% if(messages.error) { %>
        <%= messages.error %>
    <% } %>
    <form action="/verify" method='POST'>
        <label for="emailToken">Email Token</label>
        <input type="text" id="emailToken" name=
        "emailToken" required>
        <button type="submit">Verify</button>
    </form>
</body>
<%- include ('partials/footer') %>