<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    Chat 
    <form id="formData">
        <input type="text" id="message" placeholder="Type message Here">
        <button>Send</button>
    </form>
    <button id="sendLoc">Send Location</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client-chat.js"></script>
</body>
</html>